*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#001850,#00012F);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Rubik",sans-serif;
    font-weight: 500;
}

.container{
    background-image: url("tree\ alone\ dark.jpg");
    width: 850px;
    height: 478px;
    border-radius: 20px;
}

form{
    padding: 10px;
    width: 250px;
    height: 100%;
    display: flexbox;
    float: right;
    background-color: #001850;
    opacity: 0.5;
    font-family: "Rubik",sans-serif;
    font-weight: 500;
    color: aliceblue;
}

input[type=text]{
    width: 75%;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #030320;
    border: transparent;
    color: whitesmoke;
}

input[type=submit]{
    height: 30px;
    border-radius: 5px;
    width: 50px;
    background-color: #010c25;
    border: transparent;
    color: whitesmoke;
}

#btn{
    width: 100%;
    height: 30px;
    margin-top: 7px;
    border-radius: 5px;
    border: transparent;
    color: aliceblue;
    text-align: left;
    padding-left: 10px;
    background-color: #00012F;
}

#info{
    color: aliceblue;
    width: 600px;
    height: 50px;
    position: relative;
    top: 400px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}